@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-950 text-white antialiased;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}